name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-2019   
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NetCore
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.100
    - name: Build with dotnet
      run: |
        dotnet build -c Release
    - name: Unit Tests
      run: |
        dotnet test -c Release
